#task-input {
  float: right;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  font-style: italic;
  width: content-box;
}

#button-add {
  background-color: #4d5888;
  color: #f7ecff;
}

#add-form {
  margin: 0;
  padding: 0;
}
