@mixin background($img,$position: center center,$repeat: no-repeat,
                  $size: cover,$attachment: fixed) {
  background: {
    image: url($img);
    position: $position;
    repeat: $repeat;
    size: $size;
    attachment: $attachment;
  }
}
section {
  @include background('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg');
  height: 100%;
  overflow: hidden;
}

.container-fluid {
  margin-top: 80px;

}

#btn-search {
  background-color: #ec407a;
}
